manifest {
  author = "Abdelghafar Goumaidi"
  version = "1.1.0"
  defaultBranch = "main"
  name = "viral-variants"
  description = "Calling variants with peptide impact and comparison between samples (via transfer annotation): From reads and ref genome (with its own annotation or with other sequence and annotation to transfert annotation about PSA) by mapping."
  homePage = "https://github.com/nexomis/viral-variant"
  mainScript = "main.nf"
  nextflowVersion = ">=24.04.0"
}

plugins {
    id 'nf-validation@1.1.3'
}

params {
  help = false

  // Input/Output options
  input = null
  refs = null
  out_dir = null
  publish_dir_mode = "link"
  save_bam_after_indel_realn = false
  input = null
  ref_genome = null

  // Global worflow options
  biocontainers_registry = 'quay.io'
  skip_primary = true

  // Mandatory parameters (the names should correspond to the ones given on the main workflow)

  //Primary parameters
  num_reads_sample_qc = 250000
  tax_dir = "${projectDir}/modules/subworkflows/primary/taxdump_26092024"
  
  // fastp options

  trim_poly_g = true
  trim_poly_x = true
  min_avg_qual = 28
  min_len = 41
  cut_right_window_size = 4
  cut_right_mean_qual = 20
  cut_tail_window_size = 4
  cut_tail_mean_qual = 25

  // kraken2 options

  // tools used for mapping
  mapper = "bwa-mem"

  // bwa mapping options
  args_bwamem = "-M"

  // bowtie2 mapping options
  args_bowtie2 = "--local"

  // common variant options
  var_caller = "sav_call,ivar"
  max_n_pileup = 1000000
  min_dp_variant = 20
  alt_ratio_threshold_variant = 0.02

  // specific ivar options
  ref_ratio_threshold_variant = 0.9
  args_samtools_mpileup_variant = ""


  // Resource options (the names must be conserved cf. modules/config/process/labels.config)
  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16
  mem_low = 15
  mem_med = 30
  mem_high = 120
  kraken2_memory = 10
  kraken2_cpus = 4
  
}

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "modules/config/pipeline_info.config"
includeConfig "conf/ext.config"
includeConfig "conf/ressources.config"
