process {
    withName: "IVAR_VARIANTS_ALL" {
      ext.args = params.args_samtools_mpileup_variant
    }
}

process {
    withName: "BWA_MEM" {
      ext.args = params.args_bwamem
    }
}

process {
    withName: "BOWTIE2" {
      ext.args = params.args_bowtie2
    }
}

process {
    withName: "FILTER_REGROUP_IVAR_VARIANTS" {
      ext.min_dp = params.min_dp_variant                             // default: 30
      ext.ref_ratio_threshold = params.ref_ratio_threshold_variant   // default: 0.9
      ext.alt_ratio_threshold = params.alt_ratio_threshold_variant   // default: 0.002
    }
}

def fastp_args = ""
fastp_args += " --trim_poly_g"
fastp_args += " --cut_right_window_size " + params.cut_right_window_size 
fastp_args += " --cut_right_mean_quality " + params.cut_right_mean_qual
fastp_args += " --cut_right"
fastp_args += " --cut_tail_window_size " + params.cut_tail_window_size
fastp_args += " --cut_tail_mean_quality " + params.cut_tail_mean_qual
fastp_args += " --cut_tail"
fastp_args += " --average_qual " + params.min_avg_qual
fastp_args += " --trim_poly_x"
fastp_args += " --length_required " + params.min_len

process {
    withName: "FASTP" {
      ext.args = fastp_args
    }
}
